@charset "utf-8";

/* リセットCSS */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* 基本設定 */

body {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: #444;
  line-height: 1.8;
  font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

section {
    padding: 80px 0;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    color: #6f6f6f;
    
}

h2 {
    font-size: 28px;
    font-weight: 600px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

/* ヘッダー */
.header {
    width: 100%;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.logo {
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #666;
}

nav ul {
  display: flex;
  gap: 5px;
  list-style: none;
  margin-top: 10px;
  margin-right: 30px;
}

.nav a {
  text-decoration: none;
  color: #666;
  font-size: 18px;
  margin-right: 40px;
  font-weight: 500;
}

.nav a:hover {
  color: #b5a245;
}


/* メイン */

.main {
  max-width: none;
  width: 100%;
  height: 500px;
  background-color: #6880d2;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0;
}


.main h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  color: #ffffff;
}

/* プロフィール */

.about {
    max-width: 900px;
    margin: 80px auto;
    padding: 0 20px;
}

.about-h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 120px;
    line-height: 1.2;
}

.about-h2 span {
    display: block;
    color: #444;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
}

.about-box {
display: flex;
    align-items: center;
    gap: 40px;
 }

.about-box img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.about-text {
    font-size: 16px;
    line-height: 1.9;
    background: #dfdfdf;
    padding: 20px;
    border-radius: 10px;
}


/* works */
.works-grid {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.works h2 {
    margin-bottom: 80px;
}


.btn {
    display: inline-block;
    padding: 12px 32px;
    margin: 50px 90px;
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    background: #6880d2;
    font-size: 16px;
    text-align: center;
    transform: 0.3s;
}

.btn:hover {
    background: #b6c7ff;
}

/* フッター */

.footer {
    padding: 60px 0;
    text-align: center;
    color: #ffffff;
    background: #a3a3a3;
    margin-top: 80px;
}

/* 詳細ページ */

.works-detail-main {
    padding: 120px 20px 60px;
    text-align: center;
}

.works-detail-main h1 {
    font-size: 48px;
    color: #6880d2;
    margin-top: 80px;
    margin-bottom: 20px;
}

.works-detail-main .intro {
    font-size: 18px;
    color: #444;
}

.works-detail-list {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    line-height: 35px;
    gap: 60px;
    padding: 0 20px;
}

.work-item {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.work-item img {
    width: 400px;
    border-radius: 8px;
    flex-shrink: 0;
}

.work-info {
    flex: 1;
}

.work-info h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #2a2a2a;
}

.work-info p {
    font-size: 16px;
    line-height: 1.8;
    background: #ffefef;
    padding: 20px;
    border-radius: 8px;
}

.back-btn {
    text-align: center;
    margin: 80px 0;
}

.works-details {
    margin-top: 12px;
    padding-left: 20px;
    list-style: none;
    font-size: 15px;
    color: #4e4e4e;
}

.works-details li {
    margin-bottom: 6px;
}

.works-details strong {
    color: #908900;
}


/* ハンバーガーボタン */

.menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 6px;
    z-index: 10000;
    position: relative;
}

.menu-btn span {
    width: 28px;
    height: 3px;
    background: #666;
    border-radius: 3px;
    transition: 0.3s;
}

@media screen and (max-width: 768px) {

.main h1 {
    font-size: 50px;
    margin-top: 60px;
}

.logo {
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #666;
}

.nav ul {
  gap: 5px;
  padding: 10px 0;
  font-size: 13px;
}

.nav a {
    margin-right: 15px;
}

    .about-box {
        flex-direction: column;
        text-align: center;
    }

    .about-box img {
        width: 80%;
    }

    .works-details {
    font-size: 13px;
    text-align: left;
}

.works-detail-main h1 {
    font-size: 30px;
    margin-top: 100px;
}

.works-detail-list {
    gap: 50px;
}

.work-item {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

  .work-item img {
            width: 80%;
        }

  .work-info {
            width: 100%;
        }    
        
   .work-info h2 {
    font-size: 20px;
   }     
      
.menu-btn {
    display: flex;
    left: 80px;
}

.nav ul {
    position: absolute;
    top: 70px;
    right: 0;
    background: #ccc;
    width: 200px;
    flex-direction: column;
    display: none;
    padding: 20px 20px;
}

.nav.active ul {
    display: flex;
}

.menu-btn.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-btn.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }


}
